@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --backgroundColor: #000;
    --textColor: #fff;
    --primaryColor: #43B443;
    --hoverColor: #32DE84;
    --inputColor: #d4cfcf;
    --placeholderColor: #ebdada;
}

.dark {
    --backgroundColor: #fff;
    --textColor: #000;
    --primaryColor: #43B443;
    --hoverColor: #32DE84;
    --inputColor: #837a7a;
    --placeholderColor: #ebdada;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

.iconsax {
    font-size: 30px;
    color: var(--textColor);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.big-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1.7rem 0 2rem;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 1.2rem;
    margin-top: 0.6rem;
}

.logo h3 {
    color: var(--textColor);
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.5rem;
    font-family: "Bricolage Grotesque", sans-serif;
    color: var(--primaryColor)
}

header .links ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header .links a {
    color: var(--textColor);
    margin-right: 4.5rem;
    display: inline-block;
    transition: 0.2s;
}

header .links a:hover {
    color: var(--primaryColor);
    transform: scale(1.05);
}

header .left .cta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cta input {
    border: 2px solid #837a7a;
    border-radius: 16px;
    font-size: 18px;
    padding: 0.9rem 1.9rem;
    text-transform: capitalize;
    outline: none;
    background-color: #3f3f3f;
    font-family: "Bricolage Grotesque", sans-serif;
    color: var(--textColor);
    margin-right: 15px;
    flex: 3;
    min-width: 400px;
}

.cta input::placeholder {
    color: #afaeae;
}

.cta .btn {
    flex: 1;
}

.btn {
    display: inline-block;
    color: var(--backgroundColor) !important;
    background-color: var(--primaryColor);
    border-radius: 16px;
    padding: 0.9rem 1.9rem;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--hoverColor);
    transform: scale(1) !important;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.showcase-area .container .right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.right img {
    height: 100%;
    width: 100%;
}

.big-title {
    font-size: 1.6rem;
    text-transform: capitalize;
    line-height: 1.4;
}

.big-title h1 span {
    color: var(--primaryColor);
    font-family: 'Bricolage Grotesque', sans-serif;
}

.text {
    font-size: 1.1rem;
    margin: 1.5rem 0 2.5rem;
    max-width: 550px;
    line-height: 2.3;
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(255, 255, 255, 0.2);
}

.toggle-btn {
    display: flex;
    border: none;
    background: var(--primaryColor);
    color: var(--textColor);
    outline: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.toggle-btn:hover {
    background-color: var(--hoverColor);
    
}

.toggle-btn:hover i {
    color: var(--backgroundColor);
    font-weight: bold;
}

.toggle-btn i {
    line-height: 39px;
    padding: 20px;
}

.toggle-btn i:last-child {
    display: none;
}

.shape {
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 300px;
    bottom: 0;
    right: 0;
}

.about-section, .token-section {
    display: flex;
    padding: 3rem;
}

.about-section .container .box, .token-section .container .box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--textColor);
    padding: 0 2.5rem;
    background-color: var(--backgroundColor);
    border-radius: 1em;
}

.about-section .container .box .left {
    display: block;
    flex: 1;
    width: 300px;
}

.about-section .container .box .left img {
    height: 200px;
    width: 200px;
}

.about-section .container .box .right,
.token-section .container .box .left {
    display: flex;
    flex: 2;
    align-items: end;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    font-family: "Bricolage Grotesque", sans-serif;
    text-align: right;
}

.container .box .right .heading {
    display: flex;
    flex-direction: column;
    align-content: end;
}

.container .box  p {
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.container .box .right .btn-secondary, .token-section .box .left .btn-secondary {
    background: var(--textColor);
    color: var(--backgroundColor);
    border-radius: 16px;
    padding: 0.9rem 1.9rem;
}

.token-section .container .box {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}

.token-section .container .box .left {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}

.token-section .container .box .left {
    text-align: left;
    align-items: flex-start;
}

.token-section .container .box .left .btn-secondary {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-weight: bold;
}

.token-section .container .box .left p {
    font-weight: 500;
}

.play-area {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.play-area img {
    height: 100%;
    max-width: 81rem;
    left: calc(50% - 40rem);
    position: absolute;
}

.play-area .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-area .container h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 1rem;
}

.play-area .container h1 span {
    background-color: var(--hoverColor);
    color: var(--backgroundColor);
}

.play-area .container h3 {
    font-weight: 400;
}

.cards-section {
    display: flex;
    justify-content: center;
}

.cards-section .container{
    margin: 10rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cards-section .cards {
    position: relative;
    padding: 2rem 3rem;
    background-color: var(--hoverColor);
    border-radius: 16px;
    text-align: center;
}

.cards-section .cards .img-section {
    position: absolute;
    background-color: var(--textColor);
    padding: 0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: calc(50% - 35px);
    border: 8px solid var(--hoverColor);
}

.cards-section .cards img {
    height: 30px;
    width: 30px;
}

.cards-section .cards h3 {
    margin: 1rem;
    font-size: 25px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

footer {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}
